<%=form_for @blogger do |f|%>
    <p><%=f.label :name%></p>
    <p><%=f.text_field :name%></p>
    <p><%=f.label :bio%></p>
    <p><%=f.text_area :bio%></p>

    <p><%= f.label :age %></p>
    <p><%= f.number_field :age %></p>

    <br>
    <p><%=f.submit%></p>
<%end%> 

<div class='error'>
  <% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
</div>