<h1> <%= @blogger.name %> </h1>

<p>Bio: <%= @blogger.bio %></p>
<p>Age: <%= @blogger.age %></p>
<p>Total Likes: <%= @blogger.total_likes %></p>
<p><%= link_to @blogger.most_liked.title, post_path(@blogger.most_liked) %></p>