<h1>Post Show Page</h1>

<p>Title: <%= @post.title%></p>
<p>Content: <%= @post.content %></p>
<ul>
  <li>Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %></li>
  <li>Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %></li>
</ul>

<p>Likes: <%= @post.likes %></p>
<%= button_to "Like", post_path(@post), :method => :patch %>
